* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

header {
  padding: 40px;
  background-color: red;
  justify-content: center;
}

header img {
  max-width: 40px;
}

.flex {
  display: flex;
}

ul{
  display: flex;
}
li{
  margin: 10px;
}
